* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --white-color: #fff;
  --second-color: #e2e434;
  --header-color: #1e293b;
  --P-color: #334155;
  --dustyyellow: rgb(226, 228, 52);
  font-family: Arial, sans-serif;
}

/* start first header */
.firstheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100px;
  background-image: linear-gradient(
    to right,
    rgba(59, 57, 57, 0),
    rgb(70, 64, 64)
  );
}

.rightfirstheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  color: var(--second-color);
}

/* start of user, cart icons */
.downeffect {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 40%;
  height: 50%;
  position: relative;
}

#notif {
  width: 20px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 0, 0, 0.8);
  color: white;
  font-weight: bolder;
  border-radius: 70%;
  position: absolute;
  top: 5px;
  right: 9px;
}

/* end of user, cart icons */

.leftfirstheader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.slogan {
  display: flex;
  flex-flow: column wrap;
  margin-left: 5px;
  color: black;
}

/* end first header */

/* start second header */
nav {
  background-color: var(--header-color);
  padding: 5px;
  border-bottom: 2px solid var(--white-color);
  position: sticky;
  top: 0;
  z-index: 99;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  margin-right: 25px;
  min-width: 90px;
}

nav a:hover {
  color: var(--second-color);
}

nav .nav {
  margin: 2px 20%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* end second header */

/* start third container */
.f_container {
  color: var(--header-color);
  background-image: url("../asset/thom-holmes-RqASow2Y6Os-unsplash-2048x1365.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 50vh; */
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}

.f_container h1 {
  font-size: calc(16px + 2vw);
  color: var(--white-color);
  margin-top: 25px;
  margin-bottom: 15px;
}

.f_container h2 {
  font-size: calc(16px + 1vw);
  color: var(--white-color);
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
}

/* end third container */

/* start fourth container */
.s_h {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--header-color);
  margin: 2vw;
  font-size: calc(16px + 2vw);
}

.s_container {
  margin-bottom: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
}

.s_container a {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.s_container img {
  width: 250px;
  height: 43vh;
  min-height: 60px;
  margin: 20px;
}

.s_container a:hover h2 {
  background-color: var(--white-color);
  box-shadow: 0 10px 10px 0 var(--header-color);
}

.s_container a:hover img {
  box-shadow: 15px 18px 18px #888888;
}

.s_container a h2 {
  position: absolute;
  /* one can push them down too xD */
  /* top:36vh; */
  border: 1px solid rgba(255, 255, 255, 0.37);
  padding: 15px 80px;
  font-size: 14px;
  color: var(--header-color);
  background-color: rgba(255, 255, 255, 0.37);
}

.s_container a .s_shop {
  padding: 15px 68px;
}

.s_container a .t_shop {
  padding: 15px 47px;
}

.s_container a .f_shop {
  padding: 15px 88px;
}

/* end fourth container */

/* start fifth container and it the same as seventh container */
.t_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.t_container .f_div {
  width: 30%;
}

.t_container .f_div img {
  width: 50vw;
  max-width: 300px;
}

.t_container .s_div {
  width: 40vw;
}

.t_container .s_div h1 {
  font-size: 39px;
  line-height: 1.2em;
  color: var(--header-color);
}

.t_container .s_div p {
  font-size: 20px;
  line-height: 1.2em;
  color: var(--P-color);
}

/* end fifth container */

/* start sixth container */
.sixth_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.sixth_container .six_div {
  width: 30%;
}

.sixth_container .six_div img {
  width: 30vw;
  max-width: 250px;
}

.sixth_container .f_div {
  width: 60%;
  text-align: right;
}

.sixth_container .f_div h1 {
  font-size: 39px;
  line-height: 1.2em;
  color: var(--header-color);
}

.sixth_container .f_div p {
  font-size: 20px;
  line-height: 1.2em;
  color: var(--P-color);
}

/* end sixth container */

/* start communication container */
.commu_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 30px 10px;
}

.commu_container a {
  text-decoration: none;
}

.commu_container a:hover,
.commu_container a:hover svg {
  color: var(--second-color);
  font-size: 20px;
  fill: var(--dustyyellow);
}

/* end communication container */

/* start about */
.section_about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
  /* to center elements in the middle ( i wouldn't recomment it )*/
  align-items: center;
  align-content: center;
  margin: 15px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 30px 10px;
}

.section_about a {
  text-decoration: none;
}

.section_about a:hover {
  font-size: 20px;
}

.section_about li {
  list-style: none;
}

.how > ul {
  display: flex;
  flex-flow: column wrap;
}

.how > ul > li > h1 {
  color: black;
}

.section_about .how li {
  color: #94a3b8;
}

.about > ul > li > h1 {
  color: black;
}

.section_about .about > ul {
  display: flex;
  flex-flow: column wrap;
}

.section_about .about li {
  font-size: 16px;
  color: #94a3b8;
}

.section_about .opening > ul {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.section_about .opening > ul > li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section_about .opening > ul > li:nth-child(1) {
  /* padding-left:10px; */
  align-items: center;
}

.section_about .frame {
  margin-top: 25px;
}

/* end about */

/* start footer */
footer {
  text-align: center;
}

footer p {
  margin: 20px;
}

footer svg {
  fill: white;
}

.ast-arrow-svg {
  display: none;
  background-color: var(--P-color);
  fill: var(--dustyyellow);
  transform: translate(70%, -20%) rotate(180deg);
  position: fixed;
  cursor: pointer;
  z-index: 99;
  bottom: 10px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* opacity: 1; */
}

/* end footer */

/*start kitchen page */
.nav .kitchen {
  color: var(--second-color);
}

.headline {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2vw;
  padding-left: 4vw;
}

.headline h1 {
  width: 92vw;
  font-size: calc(4px + 2vw);
  font-family: monospace;
  border-bottom: 1px solid var(--P-color);
}

/* start FILTER SECTION */
.filter_container {
  width: 95vw;
  display: none;
}

.filter_container > .filter_show {
  margin: 0 20%;
  margin-top: -9px;
  padding-right: 1vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--P-color);
  border-top: none;
  border-radius: 3px;
  height: 29px;
  transition: height 1s;
  overflow-y: hidden;
}

.filter_container > .filter_show > svg {
  fill: red;
  align-self: flex-start;
  width: 16px;
  height: 25px;
  transition: height 0.8s;
}

.filter_container > .filter_show > *:not(svg) {
  transition: transform 1s;
  transform: translateY(-60px);
}

.filter_container > .filter_show > .filter_content {
  width: 90%;
  height: 98%;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}

.filter_container > .filter_show > .filter_content > .filter_group {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group
  > input:nth-child(1) {
  border: 1px solid var(--P-color);
  border-bottom-left-radius: 10px;
  cursor: default;
  text-align: center;
  font-weight: bold;
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group
  > input:nth-child(1)::placeholder {
  color: var(--P-color);
  font-family: cursive;
  font-size: small;
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group
  > input:nth-child(1):focus {
  outline: none;
  border: 1px solid var(--dustyyellow);
  outline-offset: 0;
}

.filter_container > .filter_show > .filter_content > .filter_group > span {
  text-align: center;
  width: 25px;
  height: 26px;
  background-color: var(--header-color);
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2)
  > input {
  appearance: none;
  border-radius: 10px;
  background-color: var(--P-color);
  width: 30vw;
  cursor: pointer;
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2)
  > input::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--dustyyellow);
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2)
  > input::-moz-range-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--dustyyellow);
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2)
  > span {
  background-color: transparent;
  font-weight: bold;
  user-select: none;
  font-size: 14px;
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2)
  > span:nth-child(3) {
  margin-left: -15px;
}

.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.filter_container > .filter_show > .filter_content > .filter_group:nth-child(2),
.filter_container
  > .filter_show
  > .filter_content
  > .filter_group:nth-child(2)
  + div {
  margin-top: 20px;
}

.filter_container > .filter_show > .filter_content > .indic {
  width: 8vw;
  height: 18px;
  border-radius: 5px;
  background-color: var(--P-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_container > .filter_show > .filter_content > .indic > #val {
  user-select: none;
  position: relative;
  top: -1px;
  z-index: 99;
  color: white;
}

.filter_container > .filter_show > .filter_content > .indic > #box {
  width: 18px;
  height: 16px;
  background-color: inherit;
  position: inherit;
  bottom: -2px;
  transform: rotate(45deg);
}

/* end FILTER SECTION */

/*end kitchen page */

/* start cart */
.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 30px 10px;
  row-gap: 9px;
}

.cart {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.product-image {
  max-width: 100%;
  width: 250px;
  height: 200px;
  /* height: auto; */
  border-radius: 8px;
  margin-bottom: 12px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-cost {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.add-to-cart-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #45a049;
}
.add-to-cart-button-danger {
  background-color: rgba(230, 0, 0, 0.7);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
.add-to-cart-button-danger:hover {
  background-color: rgba(230, 0, 0, 1);
}
.product-quantity {
  width: 100px;
  height: 37px;
}
/* end cart */

/* start login and register */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.popup {
  
  background-image: linear-gradient(360deg, #b3d9ff, #3399ff, #000d1a);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000000;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000000;
  background-color: #3399ff;
  padding: 5px 10px;
  margin-top: 40px;
}

.toggle-btn {
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-top: auto;
  padding-top: 10px;
}

.btn {
  background-image: linear-gradient(to right, #b3d9ff, #3399ff);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(to right, #3399ff, #b3d9ff);
}

.input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* end login and register */

/* 

this must be in the bottom

start view in screens less than 600px 

*/
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* start first header */
  .firstheader {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: auto;
  }

  .firstheader > *:nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: calc(100vw - 6px);
  }

  .firstheader > *:nth-child(1) img {
    width: 70%;
    height: 70%;
  }

  .slogan {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 6vw;
    width: 99vw;
  }

  .slogan * {
    font-size: 6vw;
  }

  .firstheader > *:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100vw;
  }

  .firstheader > *:nth-child(2) * {
    width: 40vw;
  }

  .downeffect {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 40%;
    height: 50%;
    position: relative;
  }

  .downeffect:hover {
    width: 40vw;
    height: auto;
    padding: 0;
    margin: 0;
  }

  #notif {
    position: absolute;
    top: -2vw;
    left: 50%;
  }

  /* end first header */

  /* start second header */
  nav {
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 99;
  }

  nav .nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  nav .nav > a {
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: unset;
    font-size: 4vw;
    width: 40vw;
  }

  /* end second header */

  /* start third container */
  .f_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: linear-gradient(
      to top,
      rgba(59, 57, 57, 0),
      rgb(70, 64, 64)
    );
  }

  .f_container h1,
  .f_container h2 {
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
    margin-top: 1vw;
    color: var(--header-color);
  }

  /* end third container */

  /* start fourth container */
  .s_h {
    margin-top: 5vw;
    font-size: calc(8px + 4vw);
  }

  .s_container {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
  }

  .s_container a {
    margin-bottom: 5vh;
  }

  .s_container img {
    width: 50vw;
    height: 50vw;
    margin: 0;
  }

  .s_container a h2 {
    padding: 0;
    margin: 0;
    font-size: 6vw;
  }

  .s_container a .s_shop {
    padding: 0;
    margin: 0;
    font-size: 6vw;
  }

  .s_container a .t_shop {
    padding: 0;
    margin: 0;
    font-size: 6vw;
  }

  .s_container a .f_shop {
    padding: 0;
    margin: 0;
    font-size: 6vw;
  }

  /* end fourth container */

  /* start fifth and seventh and sixth container respectively */
  .t_container,
  .sixth_container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    padding-bottom: 4vw;
    margin-bottom: 4vw;
  }

  .t_container .f_div,
  .sixth_container .six_div {
    max-width: 90%;
  }

  .t_container .f_div img,
  .sixth_container .six_div img {
    width: 40vw;
    position: absolute;
    top: 20%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    opacity: 0.4;
  }

  .t_container .s_div,
  .sixth_container .f_div {
    font-size: 4vw;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }

  .t_container .s_div h1,
  .sixth_container .f_div h1 {
    align-self: center;
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: var(--header-color);
  }

  .t_container .s_div p,
  .sixth_container .f_div p {
    width: 90vw;
    font-size: 4vw;
    text-align: center;
    color: var(--P-color);
  }

  /* end fifth and seventh and sixth container respectively */

  /* start communication container */
  .commu_container {
    margin: 0;
    padding: 2vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .commu_container a {
    display: flex;
    align-items: center;
    width: 40vw;
    font-size: 5vw;
  }

  .commu_container a sub {
    margin-right: 2vw;
  }

  .commu_container a svg {
    font-size: 4vw;
  }

  /* end communication container */

  /* start section_about */
  .section_about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
  }

  .section_about .how ul,
  .section_about .about ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .section_about .how ul h1,
  .section_about .about ul h1,
  .section_about .opening ul h1 {
    font-size: 8vw;
  }

  .section_about .how ul,
  .section_about .about ul a,
  .section_about .opening ul li {
    font-size: 6vw;
    gap: 3vw;
  }

  .section_about .frame iframe {
    width: 99vw;
  }

  /* end section_about */

  /* start footer */
  footer p {
    font-size: 4vw;
  }

  /* end footer */
}

/* end view in screens less than 600px */
.overlay h2 {
  color: white;
}
